@import 'theme.scss';

html,
body,
#app {
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
    background: var(--fill);
    color: var(--stroke);

    .hr {
        height: 1px;
        width: 100%;
        background: var(--stroke);
        opacity: .25;
    }

    .btn {
        border: none;
        outline: none;
        background: none;
        color: var(--accent2);
        cursor: pointer;
    }

    .variable {
        color: var(--accent);
    }

    .subtext {
        font-style: italic;
        color: var(--light-stroke);
        font-size: .75em;
    }
}