data-bound {
    [data-layout] {
        margin: 0;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
    }

    [data-direction]:not([data-direction='']) {
        display: flex;
        margin: 0;
        padding: 0;

        &>* {
            flex: 1 1 auto;
        }
    }

    [data-direction='left-right'] {
        flex-direction: row;
    }

    [data-direction='right-left'] {
        flex-direction: row-reverse;
    }

    [data-direction='top-bottom'] {
        flex-direction: column;
    }

    [data-direction='bottom-top'] {
        flex-direction: column-reverse;
    }

    [data-wrap='wrap'] {
        flex-wrap: wrap;
    }

    [data-wrap='nowrap'] {
        flex-wrap: nowrap;
    }

    input[type="text"] {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    [data-layout="input"] {

        [data-element="header"],
        [data-element="footer"] {
            &:empty {
                &:before {
                    content: "\00a0\00a0";
                }
            }
        }
    }

    [data-element="footer"] {
        font-size: 0.75em;
    }

    [data-container="tabbed"] {
        display: flex;

        &[data-direction="left-right"],
        &[data-direction="right-left"] {
            align-items: start;

            [data-element="labels"] {
                display: flex;
                flex-flow: column;
            }
        }

        &[data-direction="left-right"] {
            [data-element="label"] {
                border-right: solid 2px rgba(0, 0, 0, 0);

                &[data-visible="true"] {
                    border-right: solid 2px black;
                }
            }
        }

        &[data-direction="right-left"] {
            [data-element="label"] {
                border-left: solid 2px rgba(0, 0, 0, 0);

                &[data-visible="true"] {
                    border-left: solid 2px black;
                }
            }
        }

        &[data-direction="top-bottom"] {
            [data-element="label"] {
                border-bottom: solid 2px rgba(0, 0, 0, 0);

                &[data-visible="true"] {
                    border-bottom: solid 2px black;
                }
            }
        }

        &[data-direction="bottom-top"] {
            [data-element="label"] {
                border-top: solid 2px rgba(0, 0, 0, 0);

                &[data-visible="true"] {
                    border-top: solid 2px black;
                }
            }
        }


        [data-element="labels"] {
            flex: 0 1 auto;

            [data-element="label"] {
                cursor: pointer;
                display: inline-block;
                padding: 4px 8px;
            }
        }

        [data-element="viewport"] {
            flex: 1 1 auto;

            [data-element="viewport-child"] {
                display: none;

                &[data-visible="true"] {
                    display: block;
                }
            }
        }
    }
}